<div class="container-fluid" style="background-color:  white !important;">
  <div class="row justify-content-center">
    <div class="col-10 ">
        <h1 class="text-center m-2">Employee`s Attendance</h1>                           
        <h3 class="text-center m-2">Current Week Attendance {{totalWeekAttendance}} H</h3>                           
            <table class="table table-bordered table-striped m-5">
                <thead>
                  <tr>
                    <th scope="col">AttendanceDate</th>
                    <th scope="col">TotalHours</th>
                    <th scope="col">Day</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of attendanceList"> 
                        <td>{{user.attendanceDate | date: 'mediumDate'}}</td>
                        <td>{{user.totalTime}} H</td>
                        <td>{{user.dayName}}</td>
                    </tr>
                </tbody>
              </table>              
          </div>
        </div>
      <div class="row justify-content-center m-1" *ngIf="isAdmin">
        <div class="col-10 ">
          <select [(ngModel)]="selectedUser" class="form-control m-3">
            <option selected>Choose User</option>
            <option *ngFor="let user of userList">{{user.email}}</option>
        </select>
        </div>
        </div>
        <div class="row justify-content-center m-1">
          
          <div class="col-6 ">
            <div class="card text-center">
              <div class="card-header">
                <h5 class="m-auto">Get Attendance Per Specific date</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title">Select Specific date</h5>
                <input placeholder="Date Time:"
               [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
               [(ngModel)]="selectedMoment"
               (ngModelChange)="onChange($event)"
               class="form-control" 
               placeholder="Date From:"
               ><owl-date-time #dt1></owl-date-time>
                <button class="btn btn-primary my-3" type="button" (click)="clicked()">Get Hours</button>
              </div>
              <div class="card-footer text-muted">
                <h3 class="m-auto">{{Result}}  Hours</h3>
              </div>
            </div>
            </div>
            
            <div class="col-6 ">
              <div class="card text-center">
                <div class="card-header">
                  <h5 class="m-auto">Get Attendance Per Interval</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Select Dates Interval</h5>

             
                    <div class="row">
                      <div class="col-6">
                        <input  [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                        placeholder="Date From:"
                       [(ngModel)]="selectedMoments"
                       [selectMode]="'rangeFrom'"
                       class="form-control" >
                <owl-date-time #dt12></owl-date-time>
                      </div>
                      <div class="col-6">
                        <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                        placeholder = "Date To"
                        [(ngModel)]="selectedMoments"
                        [selectMode]="'rangeTo'" 
                        class="form-control m-left" >
                 <owl-date-time #dt13></owl-date-time>
                      </div>
                    </div>                                            
        
                  <button class="btn btn-primary my-3" type="button" (click)="clicked1()">Get Hours</button>
                </div>
                <div class="card-footer text-muted">
                  <h2 class="m-auto">{{Result1}}  Hours</h2>
                </div>
              </div>
        </div>
        
        <!-- <div class="col-6">
      <h5 class="m-auto">Select Attendance Per Interval</h5>
      <form class="form-inline ml-2">
        
          <input  [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                  placeholder="Date From:"
                 [(ngModel)]="selectedMoments"
                 [selectMode]="'rangeFrom'"
                 class="form-control" >
          <owl-date-time #dt12></owl-date-time>
      
          -----------
          <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                 placeholder = "Date To"
                 [(ngModel)]="selectedMoments"
                 [selectMode]="'rangeTo'" 
                 class="form-control" >
          <owl-date-time #dt13></owl-date-time>
      
      <button type="button" class="btn btn-primary ml-1" (click)="clicked1()" >Get hours</button>
      <h2 class="m-auto">{{Result1}}  Hours</h2>
      </form>    
    </div>   -->
    </div>



</div>
