
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<nav class="navbar-expand-lg navbar navbar-dark bg-primary">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" style="font-size: 1.5rem;">
      <li class="nav-item active">
        <a class="nav-item nav-link active" routerLink="alluser-managment" *ngIf="isUserLogin() && isChecked">Attendance</a>
      </li>      
      <li class="nav-item">
        <a class="nav-item nav-link active" routerLink="login" *ngIf="!isUserLogin()">Login</a>
      </li>      
      <li class="nav-item dropdown" *ngIf="isUserLogin()">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item"    routerLink="total-hours"  *ngIf="isUserLogin()">total-hours</a>
      <a class="dropdown-item"    routerLink="daily-hours"  *ngIf="isUserLogin()">daily-hours</a>
      <a class="dropdown-item"    routerLink="absent"  *ngIf="isUserLogin()">absent</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isUserLogin() && isAdmin && isChecked">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="register" >Add User</a>
          <a class="dropdown-item" routerLink="add-role" >Add Role</a>
          <a class="dropdown-item" routerLink="user-managment" >All Users</a>
        </div>
      </li>
      
    </ul>
    <ul class = "navbar-nav" style="margin-left: 68% ; font-size: 1.5rem;">
      <li class="nav-item dropdown right" *ngIf="isUserLogin()" >
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.userName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="change-password" >Change Password</a>
        <a class="dropdown-item" routerLink="login" (click)="onLogout()" >Logout</a>
        </div>
      </li>      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
